.home{
    height: 400px;
    color: white;
    
}
.home h1,.home h3{
    font-size: 3rem;
    font-family: 'Kavoon', Georgia;
}
.home-content{
    margin: auto;
    margin-left: 40px;
    margin-top: 100px;
    padding: 10px;
}
.home-content h3{
    margin-top: 20px;
    color: rgb(187, 90, 211);

}
.btn-for-action{
    display: flex;
   
}
.btn-for-action a{
    text-decoration: none;
    color: white;
}
.hire-me-btn{
    background-color: white;
    color: black;
    font-family: 'Kavoon';
    text-align: center;
    width: 180px;
    padding: 10px;
    border-radius: 90px;
    cursor: pointer;
    margin-top: 10px;
    border: 2px solid white;
}
.hire-me-btn:hover{
    background-color: brown;
    width: 200px;
    color:white;
    transition-duration: 1s;
}
.resume-btn{
    color: white;
    font-family: 'Kavoon';
    background-color: #645068;
    text-align: center;
    width: 180px;
    padding: 10px;
    border-radius: 90px;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 15px;
    border: 2px solid white;
}
.resume-btn:hover{
    background-color:rgb(187, 90, 211);
    width: 200px;
    color:black;
    transition-duration: 1s;
}
.resume-btn a{
    text-decoration: none;
    
}

.theme-change{
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: rgb(178, 55, 125);
    right: 0;
    margin-right: 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
    position: fixed;
    top:150;
    border-radius: 5px;
    margin-top: 250px;
    cursor: pointer;
    z-index: 1;
}
p svg{
    padding: 2px;
}
.sun-theme svg{ 
    animation: rotate infinite 5s linear ;

}

@keyframes rotate {
    from{
        transform: rotate(0deg);

    }
    to{
        transform: rotate(360deg);
    }
    
}
@media (max-width:1000px) {
    .theme-change{
        display: none;
    }
   
    
}
@media (max-width:555px) {
    .home h1, .home h3{
        font-size: 2rem;
        font-family: 'Kavoon', Georgia;
    }
    .hire-me-btn,  .resume-btn{
        width: 120px;
    }
    .home-content{
        margin-left: 0;
    }
    
}