.contact-section{
    padding-bottom: 40px;
    padding: 50px;
}

.contact-form{
    font-family: 'Poppins';

}
.contact-form-image img{
    height: 450px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
   
    padding: 8px;

}
.contact label{
    font-family: 'Poppins';
    color:  black;
}
.text-center{
    padding-bottom: 30px;
    font-family: 'Kavoon';
    font-weight: 700;
}
.contact input{
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
   

}
.contact{

}
.custom-select {
    height: 50px;
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 20px;
    background-color: white;
    font-family: 'Poppins';
 

}
.text-area{
    border-radius: 10px;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 20px;

}
.btn-submit{
    background-color:rgb(237, 112, 133) ;
    padding: 10px;
    border-radius: 30px;
    color: white;
    width: 40%;
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

}

.btn-submit:hover{
    background-color:  rgb(187, 90, 211);
    transition-duration: 1s;

}
.socials{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    
}
.socials a{
    color: black;
}
.socials a:hover{
    color: rgb(237, 112, 133);
}
@media (min-width: 767px) {
    .form-socials{
        display: none;
    }

    
}
@media (max-width: 767px) {
    .pic-socials{
        display: none;
    }

    
}
#dark .contact-section{
    background-color: black;
    color: white;
}
#dark label{
    color: white
}

#dark .contact-form input{
    background-color: #38004c;
    border: 2px solid white;
    color: white;
    
}
#dark .custom-select{
    background-color: #38004c;
    border: 2px solid white;
    color: white;
}
#dark .text-area{
    background-color: #38004c;
    border: 2px solid white;
    color: white;
}
#dark .btn-submit{
    background-color: black;
    border: 2px white solid;
}
#dark .btn-submit:hover{
    background-color: #38004c
}
#dark .socials a{
    color: white;
}
#dark .socials a:hover{
    color: #38004c;

}
@media (max-width:800px) {
  
}

