.sidebar-profile-pic img{
    border-radius: 50%;
    margin-top: 10px;
    height: 100px;
    width: 100px;
    display: flex;
    vertical-align: middle;
    margin: 0 auto;
    object-fit: cover;
    border: 2px solid rgb(237, 112, 133);
}
.navbar-items ul li{
    font-family: 'Poppins';
    font-weight: 700;
    color: white;
    list-style-type: none;
    cursor: pointer;
    margin-top: 20px;
    text-decoration: none;
}
.navbar-items ul li svg{
    margin-right: 25px;

}
.navbar-items-collapsed ul li{
    margin-top:20px;
 
    cursor: pointer;
    list-style-type: none;
    margin-bottom: 2px;
}
.navbar-items-collapsed ul li svg{
    margin-left: 5px;
    
}

.navbar-items-collapsed ul  li svg:hover{
    border-left: 2px solid yellow ;

 

}

.nav-item a{
    color: white;
    padding: 10px;
}
.nav-item a:hover{
    color: rgb(237, 112, 133);
    border-left: 2px solid rgb(237, 112, 133) ;
    text-decoration: none;
}


.nav-item a[class='active']{
    color: rgb(237, 112, 133);
    border-left: 2px solid rgb(237, 112, 133) ;
    text-decoration: none;

   

}
