.testimonial-sect {
    margin-top: 50px;
    padding: 50px;
   
}

.main-content-slider {
    margin-top: 30px;
}

.content-slider h3 {
    font-family: 'Kavoon';
}

.content-slider p {
    font-family: 'Poppins';
}

.content-slider {
    padding: 10px;
    color: white;
    background-color: #996248;
    margin: 5px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 50px;
    height: 250px;

}

.content-slider:hover {
    background-color: rgb(237, 112, 133);
    transition-duration: 0.5s;
   
}

.content-slider img.center-img {
    height: 80px;
    width: 80px;
    border-radius: 90px;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    margin-top: -30px;
    align-items: center;
    justify-content: center;
    border: 5px solid black;
}

.slick-prev::before {
    color: palevioletred;
    background-color: black;
    padding: 3px;
    font-size: 30px;
  
}

.slick-next::before {
    color: palevioletred;
    background-color: black;
    padding: 3px;
    font-size: 30px;
}

#dark .content-slider {
    background-color: #38004c;
    box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
    --webkit-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
    --moz-box-shadow: -6px 11px 5px -4px rgba(0, 0, 0, 0.42);
    color: white;
}

@media (max-width:800px) {}